# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/node_modules
.angular
pnpm-lock.yaml

/.nx/workspace-data

**/templates/**/*.yaml
**/templates/**/*.yml

**/cloud-init.yml
